.home {
  height: 500px;
  /* The image used */
  background-image: url("../../../Assets/img/backgroundImg.jpg");
  /* Add the blur effect */
  /* filter: blur(px);
  -webkit-filter: blur(1px); */

  /* Full height */

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;

  
}
